.letter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.letter-text {
  font-size: 50px;
  font-weight: 600;
  white-space: pre;
}
